body {
    background: lightgrey;
}

#header {
    background: lightskyblue;
    height: 92px;
    width: 100%;
    position: sticky;
    top: 0px;
}

.sections {
    background: lightcoral;
    height: 244px;
    width: 100%;
    margin: 27px 0;
}

#footer {
    background-color: lightskyblue;
    height: 92px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}