body {
    background: lightgrey;
}

#header {
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0px;
}

#header :first-child {
    font-family: Righteous;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    text-align: left;
    color: #FFFFFF;
    margin: 0 0 0 21px;
}

#header :last-child {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 0 0 0 21px;
}

#pageContent {
    height: calc(100vh - 184px);
    width: 100%;
    margin: 90px 0 0 0;
    overflow: scroll;
}

.sections {
    height: 265px;
    width: 100%;
    margin: 27px 0 0 0;
}

.sections>p {
    width: 100%;
    font-family: 'Righteous';
    font-style: normal;
    font-size: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin: 0 0 17px 19px;
}

.choices {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.choices :first-child {
    margin: 0 16px 0 19px;
}

.choice {
    height: 216px;
    width: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin: 0 16px 0 0;
}

.selectedChoice {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.choice>img {
    width: 144px;
    height: 87px;
    align-self: center;
    /*    margin: 18px 14px 111px 14px;*/
    /*    margin: 0 0 0 10px;*/
    border-radius: 4px;
    object-fit: cover;
}

.name {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 0 10px;
    color: #000000;
}

.description {
    height: 39px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 0 10px;
    color: #A6A6A6;
}

.price {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 0 10px;
    color: #000000;
}

#footer {
    background: #FFFFFF;
    height: 92px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer>button {
    height: 61px;
    width: 364px;
    border-radius: 50px;
    background: #CBCBCB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer>button>p {
    width: 250px;
    height: 53px;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}